@using ClubPool.Web.Controllers.Shared.SidebarGadgets

<!DOCTYPE html>
<html>
  <head>
    <title>@if (!string.IsNullOrWhiteSpace(ViewBag.Title)) { @(ViewBag.Title + " - ") } @ViewBag.SiteName</title>
    <meta charset="utf-8" />
    @Html.RenderSiteStylesheet()
    @if ("ie7" == ViewBag.Browser) { 
      <style type="text/css">
        .ui-tabs { position: static; }
      </style>
    }
  </head>
  <body>
    <div id="header">
      @Html.ContentImage("HeaderLogo.png", "Logo")
      <div class="loginStatusPanel">
        @{Html.RenderAction("LoginStatus", "Login");}
      </div>
      <div id="menucontainer">
        @{Html.RenderAction("Menu", "Navigation");}
      </div>
    </div>
    <div id="container">
      <div id="maincontent" class="column">
        @RenderBody()
      </div>
      @if (ViewData.ContainsKey(GlobalViewDataProperty.SidebarGadgetCollection)) {
        SidebarGadgetCollection sidebarGadgetCollection =
          ViewData[GlobalViewDataProperty.SidebarGadgetCollection] as SidebarGadgetCollection;
        if (sidebarGadgetCollection.Count > 0) {
          <div class="column sidebar-container">
            <div class="sidebar sidebar-corner">
              @foreach (var gadget in sidebarGadgetCollection.Values) {
                Html.RenderAction(gadget.Action, gadget.Controller, gadget.RouteValues);
              }
            </div>
          </div>
        }
      }
    </div>
    @Html.RenderSiteScripts()
    @RenderSection("PageScript", false)
    @Html.RenderRegisteredScriptViews()
  </body>
</html>
