@model ClubPool.Web.Controllers.Shared.ViewModels.ScheduleViewModel

<table class="schedule-table">
  <thead>
    <tr>
      <th>Week</th>
      <th>Date</th>
      <th colspan="@Model.NumberOfMeetsPerWeek">Matches</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var week in Model.Weeks) {
    <tr>
      <td>@week.Week</td>
      <td>@week.Date.ToShortDateString()</td>
    @foreach (var meet in week.Meets) {
      <td @Html.Raw(meet.Highlight ? "class=\"highlight\"" : "")>
        @Html.ActionLink(meet.Team1Name + " vs " + meet.Team2Name, "View", "Meets", new { id = meet.Id }, null)
        <div class="schedule-links"><a href="@Url.Action("Index", "Scoresheet", new { id = meet.Id })">@Html.ContentImage("printer-medium.png", "Print a scoresheet")</a></div>
      </td>
    }
    </tr>
  }
  </tbody>
</table>
