@model ClubPool.Web.Controllers.Teams.ViewModels.TeamViewModel

<div class="form-row">
  <span class="form-label-left">@Html.LabelFor(m => m.Name)</span>
  <div class="form-input">
    @Html.TextBoxFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)
  </div>
</div>
<div class="form-row">
  <span class="form-label-left">@Html.LabelFor(m => m.SchedulePriority)</span>
  <div class="form-input">
    @Html.TextBoxFor(m => m.SchedulePriority, new { @class = "integer-input" })
    @Html.ValidationMessageFor(m => m.SchedulePriority)
  </div>
</div>
<div class="form-row" style="margin: 10px;padding:0; min-height:0">
  <span class="form-label-left">&nbsp;</span>
  <div class="form-input">Available players, select two:</div>
</div>
<div class="form-row">
  <span class="form-label-left">&nbsp;</span>
  <div class="form-input" id="PlayersList">
    <div class="simple-user-list">
      <ul>
        @foreach (var player in Model.Players) {
          <li>
            <input type="checkbox" name="Players" @if (player.IsSelected) { @Html.Raw(@"checked=""checked""") } value="@player.Id" id="player@(player.Id)" />
            <label for="player@(player.Id)">@player.Name</label>
          </li>
        }
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
  var playersList;

  $(function () {
    $("#Name").focus();
    $(".integer-input").numeric();

    playersList = $("#PlayersList > div > ul");

  });
</script>
