@model ClubPool.Web.Controllers.Teams.DetailsViewModel

@{
  ViewBag.Title = "Team Details";
  Html.RegisterScriptView("teams/details");
  if (Model.CanUpdateName) {
    Html.RegisterScriptView("teams/details.editname");
    <script type="text/javascript">
      var $currentTeamName = "@Model.Name";
    </script>
  }
}

@if (Model.CanUpdateName) {
  using (var form = Html.BeginForm("UpdateName", "Teams", FormMethod.Post, new { id = "update_name_form" })) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <p><input type="text" id="name" name="name" class="team-name required" size="30" value="@Model.Name" title="Click to edit team name, enter or tab out to save"/></p>
  }
}
else {
  <h4>@Model.Name</h4>
}
<p class="team-details-email">
  @Html.ContentImage("mail-medium.png", "Email " + Model.Name)
  <a href="mailto:@Model.Email">Send @Model.Name an email</a>
</p>
<div class="container">
  <div class="header">Details</div>
  <div class="content">
    <ul id="team-details">
      <li>
        Players:
        <ul>
          @foreach (var player in Model.Players) {
            <li>@Html.ActionLink(string.Format("{0} ({1})", player.Name, player.EightBallSkillLevel), "Details", "Users", new { id = player.Id }, null)</li>
          }
        </ul>
      </li>
      <li>Record: @Model.Record</li>
      <li>Division Ranking: @Model.Rank</li>
    </ul>
  </div>
</div>
<br/>
@if (Model.HasSeasonResults) {
<div class="container">
  <div class="header">Season Results</div>
  <div class="content">
    <table id="season-results-table">
      <thead>
        <tr>
          <th>Opponent</th>
          <th>Player</th>
          <th>Wins</th>
          <th>Player</th>
          <th>Wins</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody class="meet">        
      @foreach (var match in Model.SeasonResults) {
        <tr @Html.Raw(match.Win ? "class=\"winner\"" : "")>
          <td>@match.OpponentTeamName</td>
          <td>@match.OpponentPlayerName</td>
          <td>@match.OpponentPlayerWins</td>
          <td>@match.TeamPlayerName</td>
          <td>@match.TeamPlayerWins</td>
          <td>@(match.Win ? "W" : "L")</td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>
}
