@model ClubPool.Web.Controllers.Users.ViewModels.CreateViewModel

<div class="form-row">
  <span class="form-label-left">@Html.LabelFor(m => m.Username)</span>
  <div class="form-input">
    @Html.TextBoxFor(m => m.Username)
    @Html.ValidationMessageFor(m => m.Username)
  </div>
</div>
<div class="form-row">
  <span class="form-label-left">@Html.LabelFor(m => m.Password)</span>
  <div class="form-input">
    @Html.PasswordFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)
  </div>
</div>
<div class="form-row">
  <span class="form-label-left">@Html.LabelFor(m => m.ConfirmPassword)</span>
  <div class="form-input">
    @Html.PasswordFor(m => m.ConfirmPassword)
    @Html.ValidationMessageFor(m => m.ConfirmPassword)
  </div>
</div>
<div class="form-row">
  <span class="form-label-left">@Html.LabelFor(m => m.Email)</span>
  <div class="form-input">
    @Html.TextBoxFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email)
  </div>
</div>
<div class="form-row">
  <span class="form-label-left"><label for="FirstName">Name:</label></span>
  <div class="form-input">
    @Html.TextBoxFor(m => m.FirstName, new { @class = "short" })
    <span class="form-sublabel">@Html.LabelFor(m => m.FirstName)</span>
    @Html.ValidationMessageFor(m => m.FirstName)
  </div>
  <div class="form-input">
    @Html.TextBoxFor(m => m.LastName, new { @class = "short" })
    <span class="form-sublabel">@Html.LabelFor(m => m.LastName)</span>
    @Html.ValidationMessageFor(m => m.LastName)
  </div>
</div>
