@model ClubPool.Web.Controllers.Users.ViewModels.ResetPasswordViewModel
@using ClubPool.Web.Controls.Captcha

@{
    ViewBag.Title = "Reset Password";
}

@section Head {
<style type="text/css">
  input.username
  {
    width: 200px;
  }
</style>
}

<h5>Reset Password</h5>
<p>Enter your username or email address below to have an email containing password reset instructions sent to the email address registered with
the username (or to the supplied email address).</p>
@using (var form = Html.BeginForm("ResetPassword", "Users", FormMethod.Post)) {
  @Html.AntiForgeryToken()
  <div><span class="resetpassword-label">Username:</span>@Html.TextBoxFor(m => m.Username, new { @class = "resetpassword-field" })</div>
  <div><span class="resetpassword-label">Email:</span>@Html.TextBoxFor(m => m.Email, new { @class="resetpassword-field"})</div>
  <div style="padding: 10px 0px;">
    <p>@Html.CaptchaImage(50, 180)</p>
    <p><label for="captcha">Enter the text from the image above:</label></p>
    <p>@Html.CaptchaTextBox("captcha") @Html.ValidationMessage("captcha")</p>
  </div>
  <input type="submit" value="Reset Password" />
}
@if (TempData.ContainsKey(GlobalViewDataProperty.PageErrorMessage)) {
  Html.RenderPartial("_ErrorMessage");
}
