@model ClubPool.Web.Controllers.Meets.DetailsViewModel

@{
    ViewBag.Title = "Match Details";
}

<div class="heading">
  <span>Match Details</span>
</div>
<p>
  <strong>@Html.ActionLink(Model.Team1Name, "Details", "Teams", new { id = Model.Team1Id }, null)</strong> vs. 
  <strong>@Html.ActionLink(Model.Team2Name, "Details", "Teams", new { id = Model.Team2Id }, null)</strong>, 
  scheduled for week @Model.ScheduledWeek (@Model.ScheduledDate)
</p>
<div class="action-button-row">
  <div class="action-button">
    @Html.ContentImage("printer-medium.png", "Print a soresheet")
    @Html.ActionLink("Print a scoresheet", "Scoresheet", "Scoresheet", new { id = Model.Id }, null)
  </div>
</div>
<table id="match_details" class="match-details">
  <thead>
    <tr>
      <th>Match</th>
      <th>Player</th>
      <th>Innings</th>
      <th>Defensive Shots</th>
      <th>Wins</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @{ var matchIndex = 0; }
    @foreach (var match in Model.Matches) {
      matchIndex++;
      var firstWinnerClass = "";
      var secondWinnerClass = "";
      if (match.IsComplete) {
        if (match.Player1.Winner) {
          firstWinnerClass = " winner";
        }
        else {
          secondWinnerClass = " winner";
        }
      }
      <tr class="first @firstWinnerClass" id="@(match.Id)_1">
        <td>@matchIndex</td>
        <td>@Html.ActionLink(match.Player1.Name, "Details", "Users", new { id = match.Player1.Id }, null)</td>
        <td id="@(match.Id)_p1innings">@match.Player1.Innings</td>
        <td id="@(match.Id)_p1defshots">@match.Player1.DefensiveShots</td>
        <td id="@(match.Id)_p1wins">@match.Player1.Wins</td>
        <td/>
      </tr>
      <tr class="second @secondWinnerClass" id="@(match.Id)_2">
        <td></td>
        <td>@Html.ActionLink(match.Player2.Name, "Details", "Users", new { id = match.Player2.Id }, null)</td>
        <td id="@(match.Id)_p2innings">@match.Player2.Innings</td>
        <td id="@(match.Id)_p2defshots">@match.Player2.DefensiveShots</td>
        <td id="@(match.Id)_p2wins">@match.Player2.Wins</td>
        <td/>
      </tr>
      <tr class="status" id="@(match.Id)_3">
        <td>Status:</td>
        <td colspan="4" class="status" id="@(match.Id)_status">
          @match.Status
        </td>
        <td>
          @if (Model.AllowUserToEnterResults) {
          <div class="action-button-row-small">
            <div class="action-button enter-results-link" id="@match.Id">
              @Html.ContentImage("enterresults-medium.png", "Enter results")
              Enter Results
            </div>
          </div>
          }
        </td>
      </tr>
    }
  </tbody>
</table>

<div id="enter_results_window">
@using (var form = Html.BeginForm("UpdateMatch", "UpdateMatch", FormMethod.Post, new { id = "enter_results_form" })) {
  @Html.AntiForgeryToken()
  <input type="hidden" name="Id" id="match_id" />
  <input type="hidden" name="Player1Id" id="Player1Id" />
  <input type="hidden" name="Player2Id" id="Player2Id" />
  <table>
    <thead>
      <tr>
        <th>Player</th>
        <th>Innings</th>
        <th>Defensive Shots</th>
        <th>Wins</th>
        <th>Winner</th>
        <th>Date and Time Played</th>
      </tr>
    </thead>
    <tbody>
      <tr class="results">
        <td class="name" id="player1name"></td>
        <td><input type="text" name="Player1Innings" class="integer-input"/></td>
        <td><input type="text" name="Player1DefensiveShots" class="integer-input"/></td>
        <td><input type="text" name="Player1Wins" class="integer-input"/></td>
        <td><input type="radio" name="Winner" id="player1Winner" /></td>
        <td class="date-time">@Html.TextBox("Date", "", new { @class = "datepicker" })</td>
      </tr>
      <tr class="results">
        <td class="name" id="player2name"></td>
        <td><input type="text" name="Player2Innings" class="integer-input"/></td>
        <td><input type="text" name="Player2DefensiveShots" class="integer-input"/></td>
        <td><input type="text" name="Player2Wins" class="integer-input"/></td>
        <td><input type="radio" name="Winner" id="player2Winner" /></td>
        <td class="date-time">@Html.TextBox("Time", "", new { @class = "timepicker" })</td>
      </tr>
      <tr class="forfeit">
        <td colspan="99">
          <input type="checkbox" name="IsForfeit" id="IsForfeit" value="true"/><label for="IsForfeit">Match was forfeited (you must still select a winner)</label>
        </td>
      </tr>
      <tr class="status">
        <td colspan="99" id="enter_results_form_status">&nbsp;</td>
      </tr>
    </tbody>
  </table>
  }
</div>

@section PageScript {
<script type="text/javascript">
  // initialize some variables needed to enter match results
  var $matches = {};
  @foreach(var match in Model.Matches) {
  <text>
  $matches["@match.Id"] = {
    id: @match.Id,
    isComplete: @match.IsComplete.ToString().ToLower(),
    datePlayed: "@match.DatePlayed",
    timePlayed: "@match.TimePlayed",
    dateScheduled: "@Model.ScheduledDate",
    timeScheduled: "@match.TimeScheduled",
    isForfeit: @match.IsForfeit.ToString().ToLower(),
    player1: {
      name: "@match.Player1.Name",
      id: @match.Player1.Id,
      innings: "@match.Player1.Innings",
      defensiveShots: "@match.Player1.DefensiveShots",
      wins: "@match.Player1.Wins",
      winner: @match.Player1.Winner.ToString().ToLower()
    },
    player2: {
      name: "@match.Player2.Name",
      id: @match.Player2.Id,
      innings: "@match.Player2.Innings",
      defensiveShots: "@match.Player2.DefensiveShots",
      wins: "@match.Player2.Wins",
      winner: @match.Player2.Winner.ToString().ToLower()
    }
  };
  </text>
  }
  var calendarImageUrl = "@Url.ContentImageUrl("calendar.gif")";
  var loadingImageUrl = "@Url.ContentImageUrl("loading-small.gif")";

  $(function() {
    initializeMeetsDetailsView();
  });
</script>
}