@model ClubPool.Web.Controllers.Dashboard.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    Html.RegisterScriptView("dashboard");
}

<div class="heading">
  @Html.ContentImage("home.png", "Home")
  <span>@Model.UserFullName's Dashboard</span>
</div>
<div class="dashboard">
  <div class="dashboard-item-container dashboard-column-left">
    @if (Model.HasLastMeetStats) {
    <div class="dashboard-item">
      <div class="dashboard-item-header">Last Match Results vs @Model.LastMeetStats.OpponentTeam</div>
      <div class="dashboard-item-content">
        <table id="lastmeet" class="results">
          <thead>
            <tr>
              <th>Player</th>
              <th>Innings</th>
              <th>Wins</th>
            </tr>
          </thead>
          <tbody>
          @foreach (var match in Model.LastMeetStats.Matches) {
            foreach (var result in match.Results) {
            <tr @Html.Raw(result.Winner ? "class=\"winner\"" : "")>
              <td class="player">@result.Player</td>
              <td>@result.Innings (@result.DefensiveShots)</td>
              <td>@result.Wins</td>
            </tr>
            }
          }
          </tbody>
        </table>
      </div>
    </div>
    } else {
    <div class="dashboard-item">
      <div class="dashboard-item-header">Last Match Results</div>
      <div class="dashboard-item-content">
        <p>You have not completed any matches this season.</p>
      </div>
    </div>
    }
    <div class="dashboard-item">
      <div class="dashboard-item-header">Season Results</div>
      <div class="dashboard-item-content">
      @if (Model.HasSeasonResults) {
        <table id="season_results" class="results">
          <thead>
            <tr>
              <th>Team</th>
              <th colspan="2">Player</th>
            </tr>
          </thead>
          <tbody>
          @foreach (var result in Model.SeasonResults) {
            <tr @Html.Raw(result.Win ? "class=\"winner\"" : "")>
              <td class="team">@result.Team</td>
              <td class="player">@result.Player</td>
              <td class="win">@(result.Win ? "W" : "L")</td>
            </tr>
          }
          </tbody>
        </table>
      } else {
        <p>You have not completed any matches this season.</p>
      }
      </div>
    </div>
  </div>
  <div class="dashboard-item-container dashboard-column-right">
    @if (Model.HasCurrentSeasonStats) {
    <div class="dashboard-item">
      <div class="dashboard-item-header">Current Season Stats & Info</div>
      <div class="dashboard-item-content">
        <ul>
          <li>Skill Level: @Model.CurrentSeasonStats.SkillLevel</li>
          <li>My Record: @Model.CurrentSeasonStats.PersonalRecord</li>
          <li>Team Name: @Html.ActionLink(Model.CurrentSeasonStats.TeamName, "Details", "Teams", new { id = Model.CurrentSeasonStats.TeamId }, null)</li>
          <li>Teammate: @Html.ActionLink(Model.CurrentSeasonStats.TeammateName, "Details", "Users", new { id = Model.CurrentSeasonStats.TeammateId}, null)</li>
          <li>Team Record: @Model.CurrentSeasonStats.TeamRecord</li>
        </ul>
      </div>
    </div>
    }
    @if (Model.SkillLevelCalculation.HasSkillLevel) {
    <div class="dashboard-item">
      <div class="dashboard-item-header">Skill Level Calculation Statistics</div>
      <div class="dashboard-item-content">
        @Html.Partial("_SkillLevelCalculationView", Model.SkillLevelCalculation)
      </div>
    </div>
    }
  </div>
</div>
