@model ClubPool.Web.Controllers.Standings.SeasonStandingsViewModel

@{
    ViewBag.Title = "Standings";
}

<h4>@Model.Name Standings</h4>

@if (!Model.HasDivisions) {
<p>This season has no divisions.</p>
} else {
<div id="divisiontabs">
  <ul>
  @foreach (var division in Model.Divisions) {
    <li><a href="#division-@division.Id">@division.Name</a></li>
  }
    <li><a href="#allplayers">All Players</a></li>
  </ul>
  @foreach (var division in Model.Divisions) {
       var divisionPrefix = "division-" + division.Id.ToString();
  <div id="@divisionPrefix">
    <div id="@divisionPrefix-tabs" class="division-standings-tabs">
      <ul>
        <li><a href="#@divisionPrefix-teams">Teams</a></li>
        <li><a href="#@divisionPrefix-players">Players</a></li>
      </ul>

      <div id="@divisionPrefix-teams">
      @if (division.HasTeams) {
        <table class="standings-table team-standings-table">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Team</th>
              <th>Record</th>
              <th>Win %</th>
              <th colspan="8">Players</th>
            </tr>
          </thead>
          <tbody>
          @foreach (var team in division.Teams) {
            <tr @Html.Raw(team.Highlight ? "class=\"highlight\"" : "")>
              <td>@team.Rank</td>
              <td>@Html.ActionLink(team.Name, "Details", "Teams", new { id = team.Id }, null)</td>
              <td>@string.Format("{0} - {1}", team.Wins, team.Losses)</td>
              <td>@string.Format("{0:0.00}", team.WinPercentage)</td>
              @if (null != team.Player1) { Html.RenderPartial("_StandingsPlayer", team.Player1); }
              @if (null != team.Player2) { Html.RenderPartial("_StandingsPlayer", team.Player2); }
            </tr>
          }
          </tbody>
        </table>
      } else {
        <p>This division has no teams.</p>
      }
      </div>

      <div id="@divisionPrefix-players">
      @if (division.HasPlayers) {
        <table class="standings-table player-standings-table">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Skill Level</th>
              <th>Record</th>
              <th>Win %</th>
            </tr>
          </thead>
          <tbody>
          @foreach (var player in division.Players) {
            <tr @Html.Raw(player.Highlight ? "class=\"highlight\"" : "")>
              <td>@player.Rank</td>
              @Html.Partial("_StandingsPlayer", player)
            </tr>
          }
          </tbody>
        </table>
      } else {
        <p>This division has no players.</p>
      }
      </div>
    </div>
  </div>
  }
  <div id="allplayers">
    <div class="action-button-row">
      <div class="action-button">
        @Html.ContentImage("download-medium.png", "Download CSV")
        @Html.ActionLink("Download CSV", "download", "standings")
      </div>
    </div>
    <table class="standings-table player-standings-table">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Skill Level</th>
          <th>Record</th>
          <th>Win %</th>
        </tr>
      </thead>
      <tbody>
      @{int i = 1;}
      @foreach (var player in Model.AllPlayers) {
        <tr @Html.Raw(player.Highlight ? "class=\"highlight\"" : "")>
          <td>@(i++)</td>
          @Html.Partial("_StandingsPlayer", player)
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>
}

@section PageScript {
<script type="text/javascript">
  $(function () {
    $("#divisiontabs").tabs();
    $(".division-standings-tabs").tabs();
    $("table tbody tr:odd").addClass("alt");
  });
</script>
}